
body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #f7f9fc;
  color: #333;
  margin: 0;
  padding: 0;
}


.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 12px 15px;
  text-align: left;
}

.table th {
  background-color: #f1f3f5;
  color: #6c757d;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  border-bottom: 2px solid #e9ecef;
  cursor: pointer;
}

.table th:hover {
  background-color: #afd4f9;
}

.table td {
  border-bottom: 1px solid #e9ecef;
  font-size: 14px;
}

.table tbody tr:hover {
  background-color: #b2d5f8;
}


.chart-container {
background-color:  #f8f9fa;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: rgb(162, 161, 223);
}

@media only screen and (max-width: 1199px) {
  .chart-container {
    width: 125%;
    margin: 0;
    
  }
}

.chart-title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}


.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.dashboard-header {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}


.recharts-wrapper {
  margin: 0 auto;
}

.pie-chart .recharts-sector {
  stroke: #fff;
  stroke-width: 2px;
}

.bar-chart .recharts-bar {
  border-radius: 4px;
}


